{% capture append = "oxidBlock_content" %}sdfsdfgsdfg
    {# ordering steps #}
    {% include "page/checkout/inc/steps.html.twig" with {active: 4} %}
    <div style="clear:both;"></div>
    <iframe src="{{ oView.getIframeUrl() }}" style="width:100%; height:750px;" frameBorder="0" allow="payment"></iframe>
{% endcapture %}sdadfs
{% include "layout/page.html.twig" %}
