<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="fatchip-computop-payments">
            <SUBMENU id="FATCHIP_COMPUTOP_PAYMENTS_CONFIG" cl="fatchip_computop_config"/>
            <SUBMENU id="FATCHIP_COMPUTOP_PAYMENTS_APILOG" cl="fatchip_computop_apilog"/>
        </MAINMENU>
    </OXMENU>
</OX>
