{% capture append = "oxidBlock_content" %}
    <style>
        .iframe-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 55vh;
        }

        iframe {
            border: none;
            width: 80% !important;
            height: 80% !important;
        }
    </style>
    <div class="iframe-container ">
    <iframe src="{{ oView.getIframeUrl() }}" style="width:100%; height:750px;" frameBorder="0" allow="payment"></iframe>
    </div>
{% endcapture %}
{% include "layout/page.html.twig" with {active_step: 2} %}
