<div class="text-center fatchip_computop_paypal-button-or w-100 mb-2">{{ "OR"|translate|upper }}</div>
<div class="w-100 mb-2">
    {% include "@fatchip_computop_payments/fatchip_computop/fatchip_computop_paypalbutton" with {buttonId: "paypal_button_container", buttonclass: "large", placement: "Cart"} %}
</div>