{% extends 'page/checkout/inc/summary_sidebar.html.twig' %}

{% block checkout_basketcontents_summary %}
    {{ parent() }}
    {% if oViewConf.isPaypalActive() %}
    <div class="w-100 mb-2">
        {% include "@fatchip_computop_payments/fatchip_computop/fatchip_computop_paypalbutton" with {buttonId: "paypal_button_container", buttonclass: "large", placement: "Cart"} %}
    </div>
    {% endif %}
{% endblock %}